@inherits UmbracoViewPage<BlogViewModel>
@{
    Layout = "Master.cshtml";
}
<div class="header">Blog</div>

@foreach (var post in Model.Posts)
{
    <div class="post">
        <h2 class="post-title"><a href="@post.Url">@post.Name</a></h2>
        <p class="post-meta">@post.Published.ToLongDateString()</p>
        <p class="post-content">
            @post.SeoMetadata.Description
        </p>
    </div>
}
