@inherits UmbracoViewPage<Home>
@{
    Layout = "Master.cshtml";

    var latestPost = (
        from p in Umbraco.TypedContentAtRoot().DescendantsOrSelf<Post>()
        orderby p.Published descending
        select p
    ).FirstOrDefault();
}

@if (latestPost != null)
{
    <div class="header">Latest Post</div>
    @Html.Partial("_Post", latestPost)
}
