@inherits UmbracoViewPage<IMaster>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Model.SeoMetadata.Title</title>
    <meta name="description" content="@Model.SeoMetadata.Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css" />
    <link rel="stylesheet" href="~/css/base.css" />
    <link rel="stylesheet" href="~/css/layout/main.css" />
    <link rel="stylesheet" href="~/css/layout/menu.css" />
    <link rel="stylesheet" href="~/css/components/header.css" />
    <link rel="stylesheet" href="~/css/components/post.css" />
</head>
<body>
    @Html.Action("Menu", "Menu")
    <div id="main">
        @RenderBody()
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script src="~/scripts/highlighting.js"></script>
    <script src="~/scripts/menu.js"></script>
</body>
</html>
